[submodule "scripts/RP2040_Symbol_Parser"]
	path = scripts/RP2040_Symbol_Parser
	url = https://github.com/daveythacher/RP2040_Symbol_Parser.git
[submodule "scripts/LED_Panel_Setting_Calculator"]
	path = scripts/LED_Panel_Setting_Calculator
	url = git@github.com:daveythacher/LED_Panel_Setting_Calculator.git
[submodule "LED_Matrix/lib/external/pico-sdk"]
	path = LED_Matrix/lib/external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "LED_Matrix/lib/external/FreeRTOS-Kernel"]
	path = LED_Matrix/lib/external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
